/* Reseteo de estilos del navegador */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

/* Reseteo de estilos del navegador */


/* Nav Bar & Links */

header{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;

}


.nav-bar{
    background: #000000 ;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: 0.5s;
}

.logo{
    position: relative;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}

.logo:hover{
    transition: 0.5s;
    letter-spacing: .3rem;
    color: #21ce77;
}

.menu-links{
    text-transform: uppercase;
    margin-left: 2rem;
}

.menu-links ul a{
    margin-left: 2rem;
    color: white;
}

.menu-links ul a:hover{
    letter-spacing: .1rem;
    color: #21ce77;
    transition: 0.5s;
}

/* Nav Bar & Links */



/* Main */


main{
    background-image: url(/imagenes/main.jpg);
    height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
}



/* Hero */

.hero{
    background-color: #21ce77;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    text-transform: uppercase;
    text-align: center;
}

.hero-text h2{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 6px 6px 1px white;
}

.hero-text p{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 1px white;
    padding: 1rem;
}


.hero-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1rem 3rem;
    margin-top: 1rem;
    display: inline-block;
}

.hero-btn:hover{
    transition: .7s;
    color: black;
    background-color: white;
    letter-spacing: .1rem;
    box-shadow: 5px 5px 1px black;
}



/* Hero */


/* Footer */

footer{
    background: black;
    height: auto;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}


.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem ;
}

.socials li{
    margin: 0 10px;
}

.socials li:hover{
    transition: 0.5s;
    font-size: 1.2rem;
}

.socials a{ 
    color: #21ce77;
    text-transform: uppercase;
}

.socials a:hover{
    color: #116d3f;
}

.footer-bottom p{
    font-size: .8rem;
    text-transform: uppercase;
}